.list {

    gap: 30px;
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: auto;
    margin: 10px;

}

.items {
    border: 1px solid lightgray;
    width: 180px;
    flex: 0 0 auto;
    max-width: 100%;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}

.activeCard {
    border: none;
    background-color: unset;
    cursor: pointer;
    padding: 0;
    text-align: start;
}

.activeCard:hover,
.activeCard:active {
    border: 1px solid rgb(79, 113, 251);
}

.deleteBtn {
    position: absolute;
    margin: 2px;
    right: 0;
    border: none;
    background-color: inherit;
    font-size: 20px;
    font-weight: 500;
    padding: 2px;
    cursor: pointer;

}

.img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.textContainer {
    padding: 10px;
}

.text {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.date {
    color: gray;
    font-size: 12px;
}

.addButton {
    border: none;
    width: 180px;
    height: 180px;
    cursor: pointer;
}

.addButton:hover,
.addButton:active {
    border: 1px solid rgb(79, 113, 251);
}

.buttonText {
    font-size: 20px;
    font-weight: 500;
}