.form {

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    z-index: 999;


}

.label {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.tableFooter {
    border-top: 1px solid lightgray;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;

}