.mainPage{
   
   display: flex;
   flex-direction: column-reverse;
   gap: 20px;
 
   /* min-height: 100vh;  */
}
.tripPart{
   height: 60%;
      width: 100%;
     
}
.headerText{
   padding: 10px;
   font-size: 24px;
}
.span{
   font-weight: 700;
}
/* ------for mobile----------- */
@media (min-width:428px) {}
/* -------for laptop------------ */
@media (min-width:768px) {
   .mainPage {
   
         display: flex;
         gap: 20px;
         flex-direction: row;
         min-height: 100vh;
      }
   
      .tripPart {
         height: 100%;
         width: 60%;
         position: fixed;
         z-index: 1;
         top: 0;
         overflow-x: hidden;
         left: 0;
         margin: 30px;
         /* background-color:rgb(185, 243, 243); */
      }
   
      .headerText {
         padding: 10px;
         font-size: 24px;
      }
   

}
/* --------for computer--------- */
@media (min-width:1158px) {}